* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------------- */
/* General Page Styles */
/* ---------------------------------------------------- */

html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px; /* 100%, 10px */
    /* avoid problems with adjusted text size in older browser versions 
    when using em/rem units for font-size in other html elements 
    (1em/rem = 16px depending on parent element(em) or root element(rem)
    size font
    */
    line-height: 1.2;
}

body {
    background-color: white;
    /*
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
    */
}

h1 {
    margin: 0.67em 0;
}

h2 {
    margin: 0.83em 0;
}

h3 {
    margin: 1em 0;
}

ol {
    margin: 1em 0;
    padding-left: 40px;
}

p {
    margin: 1em 0;
}

ul {
    margin: 1em 0;
    padding-left: 40px;
}

/* ---------------------------------------------------- */
/* Header */
/* ---------------------------------------------------- */
header {
    background-color: #466995; /* fallback color in case linear-gradient not supported */
    background-image: linear-gradient(to bottom, #466995, #DBE9EE);
    color: white;
    text-align: center;
    padding: 30px;
    text-shadow: 0.1em 0.1em 10px black;
}

/* ---------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------- */
footer {
    background-color: #466995; /* fallback color in case linear-gradient not supported */
    background-image: linear-gradient(to top, #466995, #DBE9EE);
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 0.1em -0.1em 10px black;
}

/* ---------------------------------------------------- */
/* Top Navigation */
/* ---------------------------------------------------- */

#topnav {
    background-color: #DBE9EE;
    border-bottom: 2px solid #466995;
    text-align: center; /* center inline elements */
}

/* Style the top navigation bar, unordered list */
#topnav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0; /* remove default padding for ul elements */
    margin: 0; /* remove default margin for ul elements */
    font-size: 0; /* to prevent space between inline-block elements in li element;
        Can also remove the closing </li> tags instead. Which is better?
    */
}

/* Style the top navigation list element */
#topnav ul li {
    /*float: left;*/ /* keep links to the right */
    display: inline; /* center links in combination with text-align: center; */
}

/* Style the top navigation links */
#topnav a:link, #topnav a:visited {
    display: inline-block;
    font-size: 1rem; /* 16px: reset font-size after setting to zero in #topnav ul {} to 
        prevent space between inline-block elements */
    color: #466995;
    padding: 0.875em 1em; /* 14px 16px (1em=16px) */
    text-decoration: none;
}

/* Change the color on hover */
#topnav a:hover, #topnav a:active {
    background-color: #466995;
    color: white;
}

/* Change the color of active page */
#topnav a.active-page {
    color: white;
    background-color: #4CAF50;
}

/* Is this necessary from using float property?
#topnav::after {
    content: "";
    clear: both;
    display: table;
}
*/

/* ---------------------------------------------------- */
/* Side Navigation */
/* ---------------------------------------------------- */

/* Style side navigation unordered list element */
#sidenav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding: 0; /* remove default padding for ul elements */
    margin: 0; /* remove default margin for ul elements */
}

/* Style the side navigation list element */
#sidenav li {
    margin: 1px 3px;
}

/* Side navigation anchor(link) elements */
#sidenav a {
    display: block;
    padding: 0.75em 0.875em; /* 14px 16px (1em=16px) */
    text-decoration: none;
    background-color: #DBE9EE;
    background-image: linear-gradient(to bottom right, #97B0CE, #DBE9EE);
    border-radius: 1em;
    border: 2px solid #466995;
    box-shadow: inset -1px -1px 1px rgba(0,0,0,0.3),
        inset -2px -3px 5px rgba(0,0,0,0.3), /* black shadow bottom right */
        inset 2px 3px 5px rgba(255,255,255,0.3); /* white shadow top left */
}

/* Side navigation anchor(link) elements */
#sidenav a:link, #sidenav a:visited {
    color: #466995;
}

/* Change on hover */
#sidenav a:hover {
    background-color: #466995;
    background-image: none;
    color: white;
}

/* Change when active (clicked) */
#sidenav a:active {
    box-shadow: inset 2px 3px 2px black,
        inset 2px 3px 5px rgba(0,0,0,0.3),
        inset -2px -3px 5px rgba(255, 255, 255, 0.3);
}

/* ---------------------------------------------------- */
/* Row */
/* ---------------------------------------------------- */

.row {
    background-color: #DBE9EE;
    padding: 0.25em 0;
}

/* Clear floats after the columns.*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* ---------------------------------------------------- */
/* Column */
/* ---------------------------------------------------- */

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
}

/* Left column, Side Nav */
.column.left {
    width: 15%;
    text-align: center;
}

/* Middle column, Main */
.column.middle {
    width: 70%;
    padding: 1em;
    border-left: 2px solid #466995;
    border-right: 2px solid #466995;
}

/* Right column */
.column.right {
    width: 15%;
    text-align: center;
    padding: 0.9rem;
}

/* Align headers to center in middle column */
.middle h2, .middle h3 {
    text-align: center;
    color: #466995;
}

/* ---------------------------------------------------- */
/* Misc Class Selectors */
/* ---------------------------------------------------- */

.float-left {
    float: left;
    margin: 0 1em 0 0;
}

.float-left+p::after {
    content: "";
    clear: both;
    display: table;
}

/* ---------------------------------------------------- */
/* Image-container */
/* ---------------------------------------------------- */

.image-container {
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 0; /* prevent IE9 (and earlier) from displaying a border around the edges */
}

/* ---------------------------------------------------- */
/* Button */
/* ---------------------------------------------------- */

        .button {
            text-align: center;
            padding: 1em;
        }

        .button a {
            margin: 0 auto;
            padding: 0.8em;
        }

        .button a:link, .button a:visited {
            display: inline-block;
            font-size: 1.5rem;
            color: #466995; /* rgb(70, 105, 149) */
            text-decoration: none;
            /* background */
            background-image: linear-gradient(to bottom right, #97B0CE, #DBE9EE);
            /* border */
            border: 3px solid #466995;
            border-radius: 1.3em;
            /* box shadow */
            box-shadow: 5px 5px 10px rgba(0,0,0,0.4),
                inset -2px -3px 5px rgba(0,0,0,0.3),
                inset 2px 3px 5px rgba(255,255,255,0.3);
        }

        .button a:hover, .button a:active {
            color: white;
            /* background */
            background-color: #466995;
            background-image: none;
            
        }

        .button a:active {
            /* box shadow */
            box-shadow: 2px 2px 10px rgba(0,0,0,0.4),
                inset 2px 3px 2px black,
                inset 2px 3px 5px rgba(0,0,0,0.8),
                inset -2px -3px 5px rgba(255, 255, 255, 0.3);
        }

/* ---------------------------------------------------- */
/* Responsive Layout */
/* ---------------------------------------------------- */

/* Responsive layout - makes the three columns stack on top of each other
    instead of next to each other */
@media (max-width:800px) {
    /* For tablet: */
    .column.left, .column.middle, .column.right {
        width: 100%;
    }
}

@media (max-width:500px) {
    /* For mobile phones: */
    .column.left, .column.middle, .column.right {
        width: 100%;
    }

    .column.left {
        display: none;
    }
}

/* ---------------------------------------------------- */
/* Responsive Layout II */
/* ---------------------------------------------------- */

/* desktop ( > 1600px ) */

/* laptop ( <= 1600px ) */

/* tablets in landscape orientation ( <= 1024px ) */
@media only screen and (min-width: 768px) and (max-width: 1024px) 
and (orientation: landscape) {

}

/* tablets ( <= 768px ) */

/* mobile ( <= 480px ) */

/* 
    Note:
    The best practice for identifying where media queries should be set is by
    resizing the browser to determine where the content naturally breaks.
    Natural breakpoints are found by resizing the browser.
*/
