*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------- */
/* General Page Styles */
/* ---------------------------------------------------- */

html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px; /* 100%, 10px */
    /* 
    avoid problems with adjusted text size in older browser versions 
    when using em/rem units for font-size in other html elements 
    (1em/rem = 16px depending on parent element(em) or root element(rem)
    size font
    */
    line-height: 1.2;
}

body {
    color: #222;
    background-color: #DBE9EE;
    /*
    max-width: 1200px;
    min-width: 360px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
    */
}

h1 { margin: 0.67em 0; }
h2 { margin: 0.83em 0; }
h3 { margin: 1em 0; }

ol {
    margin: 1em 0;
    padding-left: 40px;
}

p { margin: 1em 0; }

ul {
    margin: 1em 0;
    padding-left: 40px;
}

section > p { line-height: 1.2; }

/* ---------------------------------------------------- */
/* Header */
/* ---------------------------------------------------- */
header {
    padding: 30px;
    color: white;
    text-align: center;
    background-color: #466995; /* fallback color in case linear-gradient not supported */
    background-image: linear-gradient(to bottom, #466995, #DBE9EE);
    text-shadow: 0.1em 0.1em 10px black;
}

/* ---------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------- */
footer {
    padding: 20px;
    color: white;
    text-align: center;
    background-color: #466995; /* fallback color in case linear-gradient not supported */
    background-image: linear-gradient(to top, #466995, #DBE9EE);
    text-shadow: 0.1em -0.1em 10px black;
}

/* ---------------------------------------------------- */
/* Top Navigation */
/* ---------------------------------------------------- */

#topnav {
    text-align: center; /* center inline elements */
    background-color: #DBE9EE;
    border-bottom: 2px solid #466995;
}

/* Style the top navigation bar, unordered list */
#topnav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0; /* remove default padding for ul elements */
    margin: 0; /* remove default margin for ul elements */
    font-size: 0; /* to prevent space between inline-block elements in li element;
        Can also remove the closing </li> tags instead. Which is better? */
}

/* Style the top navigation list element */
#topnav ul li {
    /*float: left;*/ /* keep links to the left */
    display: inline; /* center links in combination with text-align: center; */
}

/* Style the top navigation links */
#topnav a {
    display: inline-block;
    font-size: 1rem; /* 16px: reset font-size after setting to zero in #topnav ul {} to
        prevent space between inline-block elements */
    padding: 0.875em 1em; /* 14px 16px (1em=16px) */
    text-decoration: none;
}

/* Set color on default link and active pseudo-classes */
#topnav a:link, 
#topnav a:visited { color: #466995; }

/* Change the color on hover */
#topnav a:hover, 
#topnav a:active {
    background-color: #466995;
    color: white;
}

/* Change the color of active page */
#topnav a.active-page {
    color: white;
    background-color: #4CAF50;
}

/* Is this necessary from using float property?
#topnav::after {
    content: "";
    clear: both;
    display: table;
}
*/

/* ---------------------------------------------------- */
/* Side Navigation */
/* ---------------------------------------------------- */

/* Style side navigation unordered list element */
#sidenav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding: 0; /* remove default padding for ul elements */
    margin: 0; /* remove default margin for ul elements */
}

/* Style the side navigation list element */
#sidenav li { margin: 1px 3px; }

/* Side navigation anchor(link) elements */
#sidenav a {
    display: block;
    padding: 0.75em 0.875em; /* 14px 16px (1em=16px) */
    text-decoration: none;
    background-color: #DBE9EE;
    background-image: linear-gradient(to bottom right, #97B0CE, #DBE9EE);
    border-radius: 1em;
    border: 2px solid #466995;
    box-shadow: inset -1px -1px 1px rgba(0,0,0,0.3),
        inset -2px -3px 5px rgba(0,0,0,0.3), /* black shadow bottom right */
        inset 2px 3px 5px rgba(255,255,255,0.3); /* white shadow top left */
}

/* Side navigation anchor(link) elements */
#sidenav a:link, 
#sidenav a:visited { color: #466995; }

/* Change on hover */
#sidenav a:hover {
    background-color: #466995;
    background-image: none;
    color: white;
}

/* Change when active (clicked) */
#sidenav a:active {
    box-shadow: inset 2px 3px 2px black,
        inset 2px 3px 5px rgba(0,0,0,0.3),
        inset -2px -3px 5px rgba(255, 255, 255, 0.3);
}

/* ---------------------------------------------------- */
/* Row */
/* ---------------------------------------------------- */

.row {
    background-color: #DBE9EE;
    padding: 0.25em 0;
}

/* Clear floats after the columns.*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* ---------------------------------------------------- */
/* Column */
/* ---------------------------------------------------- */

/* Create three unequal columns that floats next to each other */
.column { float: left; }

/* Left column, Side Nav */
.column.left {
    width: 15%;
    text-align: center;
    /*padding-top: 0.4em;*/
}

/* Middle column, Main */
.column.middle {
    width: 70%;
    padding: 1em;
    border-left: 2px solid #466995;
    border-right: 2px solid #466995;
}

/* Right column */
.column.right {
    width: 15%;
    text-align: center;
    padding: 0.9rem;
}

/* Align headers to center in middle column */
.middle h2, 
.middle h3 {
    text-align: center;
    color: #466995;
}

/* Section elements that are direct children of middle column */
.column.middle>section { margin: 1em auto; }

/* Thematic break hr */
.column.middle > hr, 
.column.middle section hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, 
    rgba(0,0,0,0), rgb(70,105,149) 30%, 
    rgb(70,105,149) 70%, rgba(0,0,0,0));
}

/* Media Queries */
/* makes the three columns stack on top of each other, instead of next to each other */
@media (max-width: 991px) { /* For medium devices and smaller: */
    .column.left, 
    .column.middle, 
    .column.right { width: 100%; }

    .column.left { display: none; }
}

/* ---------------------------------------------------- */
/* Clearfix (clear floats) */
/* ---------------------------------------------------- */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after { clear: both; }

.clearfix { zoom: 1; /* IE 6/7 */ }

/* NOTE: If I dont' need to support anything below IE8
.clearfix:after {
    content: "";
    display: table;
    clear: both;
} */

/* ---------------------------------------------------- */
/* Misc Class Selectors */
/* ---------------------------------------------------- */

/* Float profile image on home page */
.float-left {
    float: left;
    margin: 0 1em 0 0;
}

.float-left+p::after {
    content: "";
    clear: both;
    display: table;
}

.inv { display: none; }

main > section > p { text-indent: 50px; }

/* ---------------------------------------------------- */
/* Image-container */
/* ---------------------------------------------------- */

.image-container { overflow: hidden; }

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 0; /* prevent IE9 (and earlier) from displaying a border around the edges */
}

/* ---------------------------------------------------- */
/* Button */
/* ---------------------------------------------------- */

.button {
    text-align: center;
    padding: 1em;
}

.button a {
    margin: 0 auto;
    padding: 0.8em;
}

.button a:link, 
.button a:visited {
    display: inline-block;
    font-size: 1.5rem;
    color: #466995; /* rgb(70, 105, 149) */
    text-decoration: none;
    /* background */
    background-image: linear-gradient(to bottom right, #97B0CE, #DBE9EE);
    /* border */
    border: 3px solid #466995;
    border-radius: 1.3em;
    /* box shadow */
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4),
        inset -2px -3px 5px rgba(0,0,0,0.3),
        inset 2px 3px 5px rgba(255,255,255,0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.4),
        inset -2px -3px 5px rgba(0,0,0,0.3),
        inset 2px 3px 5px rgba(255,255,255,0.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4),
        inset -2px -3px 5px rgba(0,0,0,0.3),
        inset 2px 3px 5px rgba(255,255,255,0.3);
}

.button a:hover, 
.button a:active {
    color: white;
    /* background */
    background-color: #466995;
    background-image: none;
            
}

.button a:active {
    /* box shadow */
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.4),
        inset 2px 3px 2px black,
        inset 2px 3px 5px rgba(0,0,0,0.8),
        inset -2px -3px 5px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.4),
        inset 2px 3px 2px black,
        inset 2px 3px 5px rgba(0,0,0,0.8),
        inset -2px -3px 5px rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4),
        inset 2px 3px 2px black,
        inset 2px 3px 5px rgba(0,0,0,0.8),
        inset -2px -3px 5px rgba(255, 255, 255, 0.3);
}

/* ---------------------------------------------------- */
/* Media Container */
/* ---------------------------------------------------- */

.media-container {
    overflow: auto;
    text-align: center;
}

/* ---------------------------------------------------- */
/* Expand Container */
/* ---------------------------------------------------- */

.expand-container {
    width: 70%;
    margin: 1em auto;
    color: #DBE9EE;
    background-color: #466995;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4),
        inset -2px -3px 5px rgba(0,0,0,0.3),
        inset 2px 3px 5px rgba(255,255,255,0.3);
        -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.4),
            inset -2px -3px 5px rgba(0,0,0,0.3),
            inset 2px 3px 5px rgba(255,255,255,0.3);
                box-shadow: 5px 5px 10px rgba(0,0,0,0.4),
                    inset -2px -3px 5px rgba(0,0,0,0.3),
                    inset 2px 3px 5px rgba(255,255,255,0.3);
    border-radius: 1.5em;
}

.expand-header {
    padding: 1em;
    text-align: center;
}

.expand-header h2 {
    display: inline-block;
    margin: 0;
    color: #DBE9EE;
}

.expand-button {
    float: right;
    display: inline-block;
    cursor: pointer;
}

.expand-header::after {
    content: '';
    clear: both;
    display: table;
}

.expand-body {
    text-align: center;
    padding: 1em;
    border-top: 2px solid #DBE9EE;
}

.expand-closed { display: none; }

.expand-body 
.media-container h3 { color: #DBE9EE; }

.expand-container .media-container iframe { border: 2px solid #DBE9EE; }

/* ---------------------------------------------------- */
/* Unordered List */
/* ---------------------------------------------------- */
/*
.column.middle ul {
    width: 30%;
    min-width: 18.75em;
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.4);
    border-left: 5px solid #267257;
    background-color: #F2F2F2;
}
*/

/* ---------------------------------------------------- */
/* jQuery - Fixed menu after scrolling */
/* ---------------------------------------------------- */

.topnav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.topnav-absolute {
    position: absolute;
    width: 100%;
}

.sidenav-fixed {
    position: fixed;
    z-index: 1;
}

.right-col-fixed {
    position: fixed;
    right: 0;
    z-index: 1;
}

/* Absolute position class for left column, sidenav, and right column, aside */
.col-absolute {
    position: absolute;
}

.main-absolute {
    margin-left: 15%;
    margin-right: 15%;
}

/* ---------------------------------------------------- */
/* Sticky menu after scrolling */
/* ---------------------------------------------------- */

.topnav-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.side-sticky {
    position: -webkit-sticky;
    position: sticky;
    /* top value set using javascript */
}

/* ---------------------------------------------------- */
/* Tabs Container */
/* ---------------------------------------------------- */

/* Style the tab container */
.tab-container {
    background-color: #466995;
    -webkit-box-shadow: 5px 5px 7px rgba(0,0,0,0.4), inset -2px -3px 5px rgba(0,0,0,0.3), inset 2px 3px 5px rgba(255,255,255,0.3);
        -moz-box-shadow: 5px 5px 7px rgba(0,0,0,0.4), inset -2px -3px 5px rgba(0,0,0,0.3), inset 2px 3px 5px rgba(255,255,255,0.3);
            box-shadow: 5px 5px 7px rgba(0,0,0,0.4), inset -2px -3px 5px rgba(0,0,0,0.3), inset 2px 3px 5px rgba(255,255,255,0.3);
    border-radius: 1.5em;
}

/* Style the tab */
.tab {
    background-color: #dbe9ee;
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: inline-block;
    float: left;
    width: 33.333%;
    padding: 1em;
    font-weight: bold;
    color: #466995;
    background-color: inherit;
    -webkit-box-shadow: inset -2px 0 5px rgba(0,0,0,0.3), inset 2px 3px 5px rgba(255,255,255,0.3);
        -moz-box-shadow: inset -2px 0 5px rgba(0,0,0,0.3), inset 2px 3px 5px rgba(255,255,255,0.3);
            box-shadow: inset -2px 0 5px rgba(0,0,0,0.3), inset 2px 3px 5px rgba(255,255,255,0.3);
    border: none;
    border-radius: 1em 1em 0 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover { 
    color: #466995;
    background-color: #acc3d2;
}

/* Create an active/current tab-link class */
.tab button.active { 
    color: white;
    background-color: #466995;
}

/* Style the tab content */
.tab-content {
    display: none; /* change to flex using JavaScript when tab is displayed */
    flex-flow: row wrap;
    justify-content: center;
    border-top: 2px solid #dbe9ee;
    border-radius: 0 0 1em 1em;
}

/* Style flex headers in tab content */
.tab-content > h3 {
    flex: 100%;
    color: white;
}

/* Style flex buttons in tab content */
.tab-content > .button { flex: 30%; }

/* Style button links in tab content */
.tab-content > .button > a {
    display: block;
    height: 100%;
    /*
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8), 5px 5px 10px rgba(0,0,0,0.4), inset -2px -3px 5px rgba(0,0,0,0.3), inset 2px 3px 5px rgba(255,255,255,0.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8), 5px 5px 10px rgba(0,0,0,0.4), inset -2px -3px 5px rgba(0,0,0,0.3), inset 2px 3px 5px rgba(255,255,255,0.3);
            box-shadow: 0 0 10px rgba(0,0,0,0.8), 5px 5px 10px rgba(0,0,0,0.4), inset -2px -3px 5px rgba(0,0,0,0.3), inset 2px 3px 5px rgba(255,255,255,0.3);
    */
}

/* ---------------------------------------------------- */
/* Social Media Logos */
/* ---------------------------------------------------- */

#social-media-logos a { display: inline-block; }

#twitter-logo .fa-circle { color: #00B6F1 /* twitter blue */ }

#facebook-logo .fa-circle { color: #3B5998; /* facebook blue */ }

#instagram-logo .fa-circle { color: #C32AA3; /* instagram magenta */ }

#youtube-logo .fa-circle { color: #FF0000; /* youtube red */ }

#linkedin-logo .fa-circle { color: #007BB5; /* linkedin blue */ }

#google-logo .fa-circle { color: #DF4A32; /* google+ red */ }

/* ---------------------------------------------------- */
/* Responsive Layout II */
/* ---------------------------------------------------- */

/* desktop ( > 1600px ) */

/* laptop ( <= 1600px ) */

/* tablets in landscape orientation ( <= 1024px ) */
@media only screen and (min-width: 768px) and (max-width: 1024px) 
and (orientation: landscape) {

}

/* tablets ( <= 768px ) */

/* mobile ( <= 480px ) */

/* 
    Note:
    The best practice for identifying where media queries should be set is by
    resizing the browser to determine where the content naturally breaks.
    Natural breakpoints are found by resizing the browser.
*/
